In [1]:
a = [1,2,3,4,5]
a.append(10)
print(a)

a.append(20)
print(a)

print(a.pop())
print(a)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 20]
20
[1, 2, 3, 4, 5, 10]

In [6]:
word = input("Input a word: ")
world_list = list(word) #문자열을 list로
print(world_list)

result = []
for _ in range(len(world_list)):
    result.append(world_list.pop())
    
print(result)
print(word[::-1])

Input a word: Seoul
['S', 'e', 'o', 'u', 'l']
['l', 'u', 'o', 'e', 'S']
luoeS

In [10]:
# range
a1 = list(range(10))
a2 = list(range(10,0,-1))
a3 = list(range(5,12))
a4 = list(reversed(range(10)))
print(a1,a2,a3,a4, sep="\n")

#str
s1 = list("hello")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[5, 6, 7, 8, 9, 10, 11]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [11]:
a = [0,0,0,0,0]
b = a

print(a is b)
b[2] = 99
print(a,b)

True
[0, 0, 99, 0, 0] [0, 0, 99, 0, 0]

In [12]:
a = [0,0,0,0,0]
b = a.copy() #똑같은 데이터를 저장하고 있는 새로운 list객체가 생성됨

print(a == b)
print(a is b)
b[2] = 99
print(a,b)

True
False
[0, 0, 0, 0, 0] [0, 0, 99, 0, 0]

In [13]:
a = [1,5,6,3,7,2]
b = sorted(a)
print(a)
print(b)

[1, 5, 6, 3, 7, 2]
[1, 2, 3, 5, 6, 7]

In [14]:
a = [1,5,6,3,7,2]
b = a.sort()
print(a)
print(b)

[1, 2, 3, 5, 6, 7]
None

In [15]:
tt1 = (10,20,30)
tt2 = 10,20,30
print(tt1,tt2)

(10, 20, 30) (10, 20, 30)

In [16]:
tt3 = 10
print(tt3, type(tt3))
tt4 = (10)
print(tt4, type(tt4))

10 <class 'int'>
10 <class 'int'>

In [17]:
a = tuple()
a1 = tuple(range(10))
a2 = tuple([1,2,3,4]) # list -> tuple

In [18]:
del(a1) #튜플 자체를 삭제

In [20]:
myTuple=(10,20,30)
#3번 인덱스에 40 추가 - tuple -> list -> tuple

myList = list(myTuple)
myList.append(40)
myTuple = tuple(myList)
print(myTuple)

(10, 20, 30, 40)

In [22]:
tt1 = ('A','B')
print(tt1+myTuple)
print(tt2*2)

('A', 'B', 10, 20, 30, 40)
(10, 20, 30, 10, 20, 30)

In [23]:
s = set([5,1,2,3,1,2,4])
print(s)
s.add(6)
s.add(1)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [24]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

s1.union(s2)    #합집합
{1,2,3,4,5,6,7}
s1|s2
{1,2,3,4,5,6,7}
s1.intersection(s2)    #교집합
{3,4,5}
s1&s2
{3,4,5}
s1.difference(s2)    #차집합
{1,2}
s1-s2
{1,2}

{1, 2}

In [7]:
country_code = {'America':1, 'Korea':82, 'China':86, 'Japan':81}
print(country_code)
print(country_code.keys())

country_code['German'] = 49
print(country_code)
print(country_code.values())

print(country_code.items())

for k, v in country_code.items():
    print('country : ', k)
    print('code : ', v)
    
print("Korea" in country_code.keys())
print(82 in country_code.values())

del(country_code['China'])
print(country_code)

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}
dict_keys(['America', 'Korea', 'China', 'Japan'])
{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}
dict_values([1, 82, 86, 81, 49])
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('German', 49)])
country :  America
code :  1
country :  Korea
code :  82
country :  China
code :  86
country :  Japan
code :  81
country :  German
code :  49
True
True