In [9]:
import pandas as pd

#판다스 자료구조

#Series - 딕셔너리
#DataFrame - 표

a = pd.Series([1,2,3,4], index=['a','b','c','d'])
print(a)
print(a.index)

a    1
b    2
c    3
d    4
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
data = {'name' : ['Mark', 'Jane', 'Chris', 'Ryan'],
       'age' : [33, 32, 44, 42],
       'score' : [91.3, 83.4, 77.5, 87.7]}

df = pd.DataFrame(data)
print(df)

    name  age  score
0   Mark   33   91.3
1   Jane   32   83.4
2  Chris   44   77.5
3   Ryan   42   87.7

In [11]:
df.sum()

name     MarkJaneChrisRyan
age                    151
score                339.9
dtype: object

In [12]:
df.mean()

C:\Users\5i pro\AppData\Local\Temp\ipykernel_29404\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

age      37.750
score    84.975
dtype: float64

In [13]:
a = pd.DataFrame({'a':(1,2,3),'b':1,'c':1})
print(a)
print(a.index)
print(a.columns)

a['b'] = [3,4,5]
print(a)

   a  b  c
0  1  1  1
1  2  1  1
2  3  1  1
RangeIndex(start=0, stop=3, step=1)
Index(['a', 'b', 'c'], dtype='object')
   a  b  c
0  1  3  1
1  2  4  1
2  3  5  1

In [14]:
import usecsv

df = pd.read_csv('apt.csv', encoding='cp949')
len(df)

42758

In [15]:
df.head()

            지역           아파트       면적     가격   층
0  강원도 강릉시 견소동          송정한신   59.800  10900   5
1  강원도 강릉시 견소동          송정한신  116.175  18500  10
2  강원도 강릉시 견소동  송정해변신도브래뉴아파트   84.990  25000   6
3  강원도 강릉시 견소동  송정해변신도브래뉴아파트   84.990  20600   3
4  강원도 강릉시 견소동  송정해변신도브래뉴아파트   84.990  20500   1

In [13]:
df.tail()

                 지역         아파트     면적     가격   층
42753  충청북도 충주시 호암동        호반현대  59.76   7000   3
42754  충청북도 충주시 호암동  호암리버빌(1단지)  84.68  12000  15
42755  충청북도 충주시 호암동  호암리버빌(1단지)  84.68  11000   7
42756  충청북도 충주시 호암동  호암리버빌(1단지)  84.68  12000  14
42757  충청북도 충주시 호암동  호암리버빌(1단지)  84.68  11200  11

In [14]:
df.지역.tail()

42753    충청북도 충주시 호암동
42754    충청북도 충주시 호암동
42755    충청북도 충주시 호암동
42756    충청북도 충주시 호암동
42757    충청북도 충주시 호암동
Name: 지역, dtype: object

In [15]:
df[df.면적 > 130].head()

              지역          아파트        면적     가격   층
6     강원도 강릉시 교동  강릉교동롯데캐슬1단지  135.1727  34300   9
39   강원도 강릉시 남문동       삼익그린맨션  164.7540  21000  12
334  강원도 속초시 금호동     보람레이크더하임  156.7600  29500   1
433  강원도 원주시 개운동      원주힐스테이트  133.9912  26000  16
434  강원도 원주시 개운동      원주힐스테이트  137.4292  24000  14

In [16]:
df.가격[(df.면적 > 130) | (df.가격 < 15000)] # 추가 곱조건은 '|'로 추가 가능

0        10900
6        34300
35        4600
36       13200
37       14700
         ...
42753     7000
42754    12000
42755    11000
42756    12000
42757    11200
Name: 가격, Length: 11499, dtype: int64

In [18]:
df.loc[:10, ['가격','아파트']]

       가격              아파트
0   10900             송정한신
1   18500             송정한신
2   25000     송정해변신도브래뉴아파트
3   20600     송정해변신도브래뉴아파트
4   20500     송정해변신도브래뉴아파트
5   29200  강릉 교동 풍림아이원 아파트
6   34300      강릉교동롯데캐슬1단지
7   32500      강릉교동롯데캐슬2단지
8   16200            교동1주공
9   21550            교동1주공
10  21800            교동1주공

In [19]:
df.loc[:,['아파트','가격']][df.가격 > 40000]

                  아파트     가격
382          속초청호아이파크  45800
541          무실e-편한세상  44600
592          원주반곡아이파크  40700
842    온의 롯데캐슬 스카이클래스  44000
843    온의 롯데캐슬 스카이클래스  42900
...               ...    ...
42364       신영지웰시티 1차  47700
42365       신영지웰시티 1차  46000
42366       신영지웰시티 1차  55800
42367       신영지웰시티 1차  67000
42424          봉명아이파크  49000

[10486 rows x 2 columns]

In [21]:
df.iloc[55:59]

             지역    아파트        면적     가격   층
55  강원도 강릉시 노암동     신화   84.9540  13700   1
56  강원도 강릉시 노암동  양우내안애  114.6085  24800  12
57  강원도 강릉시 노암동  양우내안애  114.6085  24800   7
58  강원도 강릉시 노암동  양우내안애   59.6927  16800  12

In [16]:
df['단가'] = df.가격 / df.면적

df.loc[:10,['가격','면적','단가']]

       가격        면적          단가
0   10900   59.8000  182.274247
1   18500  116.1750  159.242522
2   25000   84.9900  294.152253
3   20600   84.9900  242.381457
4   20500   84.9900  241.204848
5   29200   84.9964  343.543962
6   34300  135.1727  253.749463
7   32500  118.0686  275.263703
8   16200   59.8900  270.495909
9   21550   84.8400  254.007544
10  21800   84.8400  256.954267

In [30]:
print(df.head())

df.drop(['단가'], axis=1, inplace=True)

print(df.head())

            지역           아파트       면적     가격   층
0  강원도 강릉시 견소동          송정한신   59.800  10900   5
1  강원도 강릉시 견소동          송정한신  116.175  18500  10
2  강원도 강릉시 견소동  송정해변신도브래뉴아파트   84.990  25000   6
3  강원도 강릉시 견소동  송정해변신도브래뉴아파트   84.990  20600   3
4  강원도 강릉시 견소동  송정해변신도브래뉴아파트   84.990  20500   1

KeyError: "['단가'] not found in axis"

In [17]:
df.sort_values(by='가격').loc[:10,('지역','아파트','가격')]

                     지역         아파트     가격
17024      경상북도 구미시 원평동        원평주공    600
17022      경상북도 구미시 원평동        원평주공    700
17637  경상북도 칠곡군 약목면 관호리          성재    750
17031      경상북도 구미시 원평동        원평주공    800
17027      경상북도 구미시 원평동        원평주공    800
...                 ...         ...    ...
36407  전라남도 광양시 광양읍 덕례리         수시아  21800
32991      울산광역시 북구 연암동       벽산늘푸른  21800
32554      울산광역시 남구 야음동  신정현대홈타운(2)  21800
11173      경기도 의정부시 장암동        신곡우성  21800
10           강원도 강릉시 교동       교동1주공  21800

[17537 rows x 3 columns]

In [18]:
dfF = df[df.지역.str.find('강릉') > -1]
dfF.mean()

C:\Users\5i pro\AppData\Local\Temp\ipykernel_29404\1829843429.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dfF.mean()

면적       70.477802
가격    15414.574468
층         7.420213
단가      209.942161
dtype: float64

In [22]:
df2 = pd.read_csv("survey.csv")
df2.head()

  sex  income  English  jobSatisfaction  stress
0   m    3000      500                5       5
1   f    4000      600                4       4
2   f    5000      700                3       2
3   m    6000      800                2       2
4   m    4000      700                2       5

In [23]:
df2.mean()

C:\Users\5i pro\AppData\Local\Temp\ipykernel_29404\3587575296.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.mean()

income             4304.217391
English             608.695652
jobSatisfaction       3.304348
stress                3.347826
dtype: float64

In [24]:
df2.income.sum()

98997

In [25]:
df2.income.mean()

4304.217391304348

In [26]:
# 중앙값 구하기
df2.income.median()

4999.0

In [27]:
# 기초통계량 요약해서 출력
df2.describe()

            income     English  jobSatisfaction     stress
count    23.000000   23.000000        23.000000  23.000000
mean   4304.217391  608.695652         3.304348   3.347826
std    1019.478341   99.603959         1.258960   1.433644
min    3000.000000  500.000000         1.000000   1.000000
25%    3000.000000  500.000000         2.500000   2.000000
50%    4999.000000  600.000000         3.000000   4.000000
75%    5000.000000  700.000000         4.000000   5.000000
max    6000.000000  800.000000         5.000000   5.000000

In [28]:
#남성과 여성으로 나누어서 평균 구하기
df2.groupby(df2.sex).mean()

          income     English  jobSatisfaction    stress
sex
f    4333.111111  633.333333         3.666667  3.111111
m    4285.642857  592.857143         3.071429  3.500000

In [33]:
from scipy import stats

male = df2.income[df2.sex == 'm']
female = df2.income[df2.sex == 'f']

ttest_result = stats.ttest_ind(male, female)
if ttest_result[1] > 0.05:
    print('p-value는 %f로 95프로 수준에서 유의하지 않음'%ttest_result[1])
else:
    print('p-value는 %f로 95프로 수준에서 유의함' %ttest_result[1])

p-value는 0.916194로 95프로 수준에서 유의하지 않음

In [34]:
corr = df2.corr()
corr

                   income   English  jobSatisfaction    stress
income           1.000000  0.599452        -0.040108 -0.137920
English          0.599452  1.000000        -0.312051  0.073351
jobSatisfaction -0.040108 -0.312051         1.000000  0.165338
stress          -0.137920  0.073351         0.165338  1.000000

In [35]:
# 두 변수의 상관관계 분석하기
df2.income.corr(df2.stress)

-0.13791959796123449

In [36]:
#회귀분석 가능 패키지
import statsmodels.formula.api as smf

model = smf.ols(formula = 'jobSatisfaction ~ English', data = df2)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     2.266
Date:                Wed, 09 Nov 2022   Prob (F-statistic):              0.147
Time:                        18:11:54   Log-Likelihood:                -36.243
No. Observations:                  23   AIC:                             76.49
Df Residuals:                      21   BIC:                             78.76
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.7052      1.615      3.532      0.002       2.346       9.065
English       -0.0039      0.003     -1.505      0.147      -0.009       0.002
==============================================================================
Omnibus:                        0.120   Durbin-Watson:                   0.777
Prob(Omnibus):                  0.942   Jarque-Bera (JB):                0.306
Skew:                          -0.126   Prob(JB):                        0.858
Kurtosis:                       2.495   Cond. No.                     3.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [37]:
# 다중 회귀 분석
model = smf.ols(formula = 'jobSatisfaction ~ English + stress + income', data = df2)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.187
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     1.458
Date:                Wed, 09 Nov 2022   Prob (F-statistic):              0.258
Time:                        18:26:18   Log-Likelihood:                -35.038
No. Observations:                  23   AIC:                             78.08
Df Residuals:                      19   BIC:                             82.62
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.9159      1.712      2.871      0.010       1.333       8.499
English       -0.0064      0.003     -1.931      0.069      -0.013       0.001
stress         0.2141      0.187      1.145      0.266      -0.177       0.606
income         0.0004      0.000      1.125      0.275      -0.000       0.001
==============================================================================
Omnibus:                        0.278   Durbin-Watson:                   0.989
Prob(Omnibus):                  0.870   Jarque-Bera (JB):                0.457
Skew:                          -0.036   Prob(JB):                        0.796
Kurtosis:                       2.313   Cond. No.                     3.00e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  3e+04. This might indicate that there are
strong multicollinearity or other numerical problems.